fastapi
uvicorn
scikit-learn
numpy
matplotlib
seaborn
pandas
python-dotenv
pymongo
passlib
python-jose[cryptography]
python-multipart 
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
email-validator
pydantic[email]
stripe
google-auth
requests
elevenlabs
google-genai
sendgrid
cors
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

